<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">{$boxTitle}</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form role="form" n:name="$_form">
        <div class="box-body">
            <div class="form-group">
                {label title /}
                {input title, class => 'form-control'}
            </div>

            {snippet categoryPart}
            <div class="form-group">
                {label categories /}
                {input categories, class => 'form-control select2'}
                <p class="text-right"><a href="#" data-toggle="modal" data-target="#addCategoryModal">+ Přidat kategorii</a></p>
            </div>
            {/snippet}

            <div class="form-group">
                {label description /}
                {input description, class => 'form-control'}
            </div>

            <div class="form-group">
                {label homePage /}
                {input homePage class => 'form-control'}
            </div>

            <div class="form-group">
                {label images /}
                {input images, class => 'form-control'}
            </div>
        </div>
        <!-- /.box-body -->

        <div class="box-footer">
            {input submit, class => 'btn btn-danger'}
        </div>
    </form>
</div>
<!-- /.box -->
