<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">{$boxTitle}</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form role="form" n:name="$form">
        <div class="box-body">
            <div class="form-group">
                {label text /}
                {input text, class => 'form-control'}
            </div>

            {formContainer customInfo}
                {formContainer contactAddress}
                    <h3>Kontaktní adresa</h3>
                    {foreach $formContainer->controls as $input}
                        <div class="form-group">
                            {label $input /}
                            {input $input, class => 'form-control'}
                        </div>
                    {/foreach}
                {/formContainer}

                {formContainer billingAddress}
                    <h3>Fakturační adresa</h3>
                    {foreach $formContainer->controls as $input}
                        <div class="form-group">
                            {label $input /}
                            {input $input, class => 'form-control'}
                        </div>
                    {/foreach}
                {/formContainer}
            {/formContainer}
        </div>
        <!-- /.box-body -->

        <div class="box-footer">
            {input submit, class => 'btn btn-danger'}
        </div>
    </form>
</div>
<!-- /.box -->