<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">{$boxTitle}</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form role="form" n:name="$form">
        <div class="box-body">
            {foreach $form->controls as $input}
            {if $input instanceof Nette\Forms\Controls\SubmitButton}
                {capture $boxFooter}
                    {input $input, class => 'btn btn-danger'}
                {/capture}
            {elseif $input instanceof Nette\Forms\Controls\HiddenField}
                {input $input}
            {else}
            <div class="form-group">
                {label $input /}
                {input $input, class => 'form-control'}
            </div>

            {if $input->name == 'image'}
            <p n:if="!empty($image)">
                <img src="{$baseUri}/images/sluzby/{$image}" class="img-responsive" />
            </p>
            {/if}

            {/if}
            {/foreach}
        </div>
        <!-- /.box-body -->

        <div class="box-footer">
            {$boxFooter|noescape}
        </div>
    </form>
</div>
<!-- /.box -->
