<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">{$boxTitle}</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form role="form" n:name="$form">
        <div class="box-body">
            <div class="form-group">
                {label title /}
                {input title, class => 'form-control'}
            </div>

            <div class="form-group">
                {label category /}
                {input category, class => 'form-control'}
            </div>

            <div class="form-group">
                {label description /}
                {input description, class => 'form-control'}
            </div>

            <div class="form-group">
                {label image /}
                {input image, class => 'form-control'}
            </div>

            <p n:if="!empty($image)">
                {$image}
            </p>
        </div>
        <!-- /.box-body -->

        <div class="box-footer">
            {input submit, class => 'btn btn-danger'}
        </div>
    </form>
</div>
<!-- /.box -->
