<!-- Modal -->
<div class="modal fade" id="{$modalId}" tabindex="-1" role="dialog" aria-labelledby="{$modalId}Label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Zavřít"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="{$modalId}Label">{$boxTitle}</h4>
            </div>
            {snippet modalForm}
            <form role="form" n:name="$form" n:class="isset($ajax) ? 'ajax'">
                <div class="modal-body">
                        <div class="box-body">
                            {foreach $form->controls as $input}
                            {if $input instanceof Nette\Forms\Controls\SubmitButton}
                            {capture $boxFooter}
                            {input $input, class => 'btn btn-danger', 'data-close-modal' => '#' . $modalId}
                            {/capture}
                            {elseif $input instanceof Nette\Forms\Controls\HiddenField}
                            {input $input}
                            {else}
                            <div class="form-group">
                                {label $input /}
                                {input $input, class => 'form-control'}
                            </div>
                            {/if}
                            {/foreach}
                        </div>
                        <!-- /.box-body -->

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Zavřít</button>
                    {$boxFooter|noescape}
                </div>
            </form>
            {/snippet}
        </div>
    </div>
</div>
