<form n:name=$form>
    <div class="form-group has-feedback">
        {input email, class => 'form-control'}
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
    </div>
    <div class="form-group has-feedback">
        {input password, class => 'form-control'}
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
    </div>
    <div class="row">
        <div class="col-xs-8">
            <div class="checkbox icheck">
                {input remember}
            </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
            {input submit, class => 'btn btn-primary btn-block btn-flat'}
        </div>
        <!-- /.col -->
    </div>
</form>