{block title}
Uživatelé
{/block}

{block breadcrumb}
<li><a n:href="Homepage:"><i class="fa fa-dashboard"></i> Domů</a></li>
<li><a n:href="Users:">Uživatelé</a></li>
<li class="active"><a n:href="Users:add">Přidat uživatele</a></li>
{/block}

{block content}
<div class="row">
    <div class="col-md-6">
        {include '../components/form.latte', form => addEditUserForm, boxTitle => 'Přidat uživatele'}
    </div>
</div>
{/block}
