<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{include title} | {ifset $brandName}{$brandName} - {/ifset}Design Blažek</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots", content="noindex">

    <style>
        #error-body { background: white; width: 500px; margin: 70px auto; padding: 10px 20px }
        #error-body h1 { font: bold 47px/1.5 sans-serif; background: none; color: #333; margin: .6em 0 }
        #error-body p { font: 21px/1.5 Georgia,serif; background: none; color: #333; margin: 1.5em 0 }
        #error-body small { font-size: 70%; color: gray }
    </style>
</head>
<body>
    <div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
    <div id="error-body">
        {include content}
    </div>
</body>
</html>
