{block title}
Rozcestník
{/block}

{block menuItems}{/block}

{block content}
<section class="page_section">
    <section class="page_section">
        <!-- section content -->
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div id="carousel-slideshow1" class="carousel slide" data-ride="carousel" style="margin-top: -20px">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li n:foreach="$slideshowPhotos['svetelna-reklama'] as $slideshowPhoto" data-target="#carousel-slideshow1" data-slide-to="{$iterator->counter - 1}" n:class="$iterator->first ? active"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div n:foreach="$slideshowPhotos['svetelna-reklama'] as $slideshowPhoto" n:class="$iterator->first ? active, item">
                                <a n:href="Homepage: subUrl => 'svetelna-reklama'">
                                    <img src="{$baseUri}/images/slideshow/{$slideshowPhoto['image']}" width="100%">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="icon-banner">
                        <a n:href="Homepage: subUrl => 'svetelna-reklama'">
                            <h3>Světelná reklama</h3>
                            <div class="separator"></div>
                            <p>{$texts['svetelna-reklama']|nl2br|noescape}</p>
                        </a>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div id="carousel-slideshow2" class="carousel slide" data-ride="carousel" style="margin-top: -20px">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li n:foreach="$slideshowPhotos['led-osvetleni'] as $slideshowPhoto" data-target="#carousel-slideshow2" data-slide-to="{$iterator->counter - 1}" n:class="$iterator->first ? active"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div n:foreach="$slideshowPhotos['led-osvetleni'] as $slideshowPhoto" n:class="$iterator->first ? active, item">
                                <a n:href="Homepage: subUrl => 'led-osvetleni'">
                                    <img src="{$baseUri}/images/slideshow/{$slideshowPhoto['image']}" width="100%">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="icon-banner">
                        <a n:href="Homepage: subUrl => 'led-osvetleni'">
                            <h3>Led osvětlení</h3>
                            <div class="separator"></div>
                            <p>{$texts['led-osvetleni']|nl2br|noescape}</p>
                        </a>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <!-- //section content -->
    </section>
    <div class="container block-wrap">

    </div><!-- end .container -->
</section>
{/block}
