{block title}
Domů
{/block}

{block content}
<div id="carousel-slideshow" class="carousel slide" data-ride="carousel" style="margin-top: -20px">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li n:foreach="$slideshowPhotos as $slideshowPhoto" data-target="#carousel-slideshow" data-slide-to="{$iterator->counter - 1}" n:class="$iterator->first ? active"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div n:foreach="$slideshowPhotos as $slideshowPhoto" n:class="$iterator->first ? active, item">
            <img src="{$baseUri}/images/slideshow/{$slideshowPhoto['image']}" width="100%">
            <div class="carousel-caption">
                <h3>{$slideshowPhoto['title']}</h3>
                <p>{$slideshowPhoto['description']}</p>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-slideshow" role="button" data-slide="prev">
        <i class="fa fa-angle-left icon-prev" aria-hidden="true"></i>
        <span class="sr-only">Předchozí</span>
    </a>
    <a class="right carousel-control" href="#carousel-slideshow" role="button" data-slide="next">
        <i class="fa fa-angle-right icon-next" aria-hidden="true"></i>
        <span class="sr-only">Další</span>
    </a>
</div>

<section class="page_section" id="news">
    <div class="container block-wrap">
        <div class="row carousel-box">
            <div class="col-md-3 left-side">
                <div class="control-block bg_black block">
                    <header class="head_section">
                        <h2>Novinky</h2>
                        <div class="separator left"></div>
                    </header>
                    {$newsSettings['text']|nl2br|noescape}
                    <div class="customNavigation">
                        <a class="btn-prev"><i class="fa fa-angle-left"></i></a>
                        <a class="btn-next"><i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-9 right-side">
                <div class="owl-carousel">
                    <div n:foreach="$news as $item" class="item-service block">
                        <a href="{$baseUri}/images/novinky/{$item['image']}" class="fancybox"
                           title="{$item['title']}">
                            <img src="{$baseUri}/images/novinky/{$item['miniature']}" class="img-responsive img-news" alt="{$item['title']}">
                        </a>
                        <div class="cont">
                            <h4>{$item['title']}</h4>
                            <div class="separator"></div>
                            <div class="text-center">
                                <strong>Přidáno: {$item['added']|date: 'j.n.Y'}</strong>
                            </div>
                            {$item['text']|nl2br|noescape}
                            <div class="btn-more">
                                <a href="#news-{$item['id']}" data-toggle="modal" class="shortcode_button">Celý text</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end .container -->

    <div n:foreach="$news as $item" class="modal fade" id="news-{$item['id']}" tabindex="-1" role="dialog" aria-labelledby="news-{$item['id']}-label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="news-{$item['id']}-label">{$item['title']}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-5 col-sm-4">
                            <a href="{$baseUri}/images/novinky/{$item['image']}" class="fancybox"
                               title="{$item['title']}">
                                <img src="{$baseUri}/images/novinky/{$item['miniature']}" class="img-responsive img-news" alt="{$item['title']}">
                            </a>
                        </div>
                        <div class="col-md-7 col-sm-8">
                            <strong>Přidáno: {$item['added']|date:'j. n. Y'}</strong>
                            <p>{$item['text']|nl2br|noescape}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page_section" id="portfolio">
    <!-- section header -->
    <header class="head_section center_section">
        <div class="container">
            <a n:href="Gallery:"><h2>Galerie</h2></a>
            <div class="separator"></div>
            <p n:ifcontent>{$gallerySettings['text']|nl2br|noescape}</p>
        </div><!-- end .container -->
    </header>
    <!-- //section header -->

    <!-- section content -->
    <div class="portfolio-block">
        <div class="container">
            <div class="row portfolio-list image-grid isotope">
                <div n:foreach="$photos as $photo" class="item col-md-4 col-sm-4 col-xs-12">
                    <a href="{$baseUri}/images/galerie/{$photo['image']}" rel="gallery" class="fancybox"
                       title="{$photo['title']}" data-description="{$photo['description']}">
                        <img id="black-white" src="{$baseUri}/images/galerie/{$photo['miniatureBW']}" alt="{$photo['title']}">
                        <img id="color" src="{$baseUri}/images/galerie/{$photo['miniature']}" class="hidden" alt="{$photo['title']}">
                        <div class="caption">
                            <div class="info">
                                <h4>{$photo['title']}</h4>
                                <div class="separator"></div>
                                <p>{$photo['description']}</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="app-item"><a n:href="Gallery:" class="shortcode_button add-item">Vstoupit do galerie</a></div>
        </div>
    </div>
    <!-- //section content -->
</section>
{/block}
