{block title}
Novinky
{/block}

{block breadcrumb}
<li><a n:href="Homepage:"><i class="fa fa-dashboard"></i> Domů</a></li>
<li class="active"><a n:href="Signpost:">Rozcestník</a></li>
{/block}

{block content}
<div class="row">
    <div class="col-md-6">
        {include '../components/form.latte', form => editBrandSettingsForm, boxTitle => 'Nastavení sekce'}
    </div>
</div>
{/block}
