{block title}
Kategorie galerie
{/block}

{block breadcrumb}
<li><a n:href="Homepage:"><i class="fa fa-dashboard"></i> Domů</a></li>
<li><a n:href="CategoryGallery:">Kategorie galerie</a></li>
<li class="active"><a n:href="this">Přidat kategorii</a></li>
{/block}

{block content}
<div class="row">
    <div class="col-md-6">
        {include '../components/form.latte', form => addEditPhotoCategoryForm, boxTitle => 'Přidat kategorii'}
    </div>
</div>
{/block}
