{block title}
Novinky
{/block}

{block breadcrumb}
<li><a n:href="Homepage:"><i class="fa fa-dashboard"></i> Domů</a></li>
<li><a n:href="News:">Novinky</a></li>
<li class="active"><a n:href="this">Editovat novinku</a></li>
{/block}

{block content}
<div class="row">
    <div class="col-md-6">
        {include '../components/editNewsForm.latte', form => addEditNewsForm, boxTitle => 'Přidat novinku'}
    </div>
</div>
{/block}
