{block title}
Slideshow
{/block}

{block breadcrumb}
<li><a n:href="Homepage:"><i class="fa fa-dashboard"></i> Domů</a></li>
<li><a n:href="CategoryGallery:">Galerie</a></li>
<li class="active"><a n:href="CategoryGallery:add">Přidat fotografii</a></li>
{/block}

{block content}
<div class="row">
    <div class="col-md-6">
        {snippetArea addEditPhotoArea}
        {include '../components/form.latte', form => addEditSlideShowPhotoForm, boxTitle => 'Přidat fotografii'}
        {/snippetArea}
    </div>
</div>
{/block}
