{block title}
Galerie
{/block}

{block breadcrumb}
<li><a n:href="Homepage:"><i class="fa fa-dashboard"></i> Domů</a></li>
<li><a n:href="Gallery:">Galerie</a></li>
<li class="active"><a n:href="this">Editovat fotografii</a></li>
{/block}

{block content}
<div class="row">
    <div class="col-md-6">
        {include '../components/editSlideShowPhotoForm.latte', form => addEditSlideShowPhotoForm, boxTitle => 'Editovat fotografii'}
    </div>
</div>
{/block}
