{block title}
Galerie
{/block}

{block scripts}
<!-- Isotope -->
<script src="{$basePath}/bower-plugins/isotope/dist/isotope.pkgd.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('.isotope-item').height($('.isotope-item').width());

        $(window).resize(function(){
            $('.isotope-item').height($('.isotope-item').width());
        });

        $('#isotope-list').isotope({
            itemSelector : '.isotope-item'
        });

        {if $defaultCategory != 0}
            $('#isotope-list').isotope({ filter: '.category-{$defaultCategory}' });
        {/if}

        $('#isotope-filters').on( 'click', 'a', function() {
            $('#isotope-filters a').parent().removeClass('active');
            $(this).parent().addClass('active');
            var dataFilter = $(this).data('filter');
            var filterSelector = dataFilter;
            if (dataFilter !== '*') {
                filterSelector = '.' + dataFilter;
            }
            $('#isotope-list').isotope({ filter: filterSelector });
            $('#isotope-list .isotope-item a.fancybox').each(function () {
                if ($(this).parent().hasClass(dataFilter) || dataFilter === '*') {
                    $(this).attr('rel', 'gallery');
                } else {
                    $(this).removeAttr('rel');
                }
            });
        });
    });
</script>
{/block}

{block content}
<section class="page_section" id="portfolio">
    <!-- section header -->
    <header class="head_section center_section">
        <div class="container">
            <h2>{include title}</h2>
            <div class="separator"></div>
            <p n:ifcontent>{$gallerySettings['text']|nl2br|noescape}</p>
        </div><!-- end .container -->
    </header>
    <!-- //section header -->

    <!-- section content -->
    <div class="portfolio-block">
        <div class="container">
            <ul class="portfolio-menu" id="isotope-filters">
                <li n:class="$defaultCategory == 0 ? active"><a data-filter="*">Vše</a></li>
                <li n:foreach="$categories as $category" n:class="$defaultCategory == $category['id'] ? active"><a data-filter="category-{$category['id']}">{$category['name']}</a></li>
            </ul>
            <div class="row portfolio-list image-grid" id="isotope-list">
                <div n:foreach="$photos as $photo" class="item isotope-item col-md-4 col-sm-4 col-xs-12 {if count($photo['categories']) > 0}category-{$photo['categories']|implode:' category-'}{/if}">
                    <a href="{$baseUri}/images/galerie/{$photo['image']}" rel="gallery" class="fancybox"
                       title="{$photo['title']}" data-description="{$photo['description']}">
                        <img id="black-white" src="{$baseUri}/images/galerie/{$photo['miniatureBW']}" alt="{$photo['title']}">
                        <img id="color" src="{$baseUri}/images/galerie/{$photo['miniature']}" class="hidden" alt="{$photo['title']}">
                        <div class="caption">
                            <div class="info">
                                <h4>{$photo['title']}</h4>
                                <div class="separator"></div>
                                <p class="gallery-description">{$photo['description']}</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- //section content -->
</section>
{/block}
