<!DOCTYPE html>
<html><head>
    <meta charset="utf-8">
    <title>{include title} | {ifset $brandName}{$brandName} - {/ifset}Design Blažek</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="{$basePath}/bower-plugins/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{$basePath}/bower-plugins/fontawesome/css/font-awesome.min.css">
    <!-- FancyBox -->
    <link rel="stylesheet" href="{$basePath}/bower-plugins/fancybox/source/jquery.fancybox.css">
    <!-- OwlCarousel -->
    <link rel="stylesheet" href="{$basePath}/bower-plugins/owl.carousel/dist/assets/owl.carousel.min.css" />
    <!-- Main style -->
    <link rel="stylesheet" href="{$basePath}/css/style.css">
    <link rel="stylesheet" href="{$basePath}/css/responsive.css">
    <!-- Google fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>

    <!-- jQuery 2.1.4 -->
    <script src="{$basePath}/bower-plugins/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="{$basePath}/bower-plugins/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Nette ajax -->
    <script src="{$basePath}/bower-plugins/nette.ajax.js/nette.ajax.js"></script>
    <!-- Nette forms & Nette live form validation -->
    <script src="{$basePath}/bower-plugins/nette-live-form-validation/live-form-validation.js"></script>
    <!-- FancyBox -->
    <script src="{$basePath}/bower-plugins/fancybox/source/jquery.fancybox.js"></script>
    <!-- OwlCarousel -->
    <script src="{$basePath}/bower-plugins/owl.carousel/dist/owl.carousel.min.js"></script>
    <!-- jQuery.dotdotdot -->
    <script src="{$basePath}/bower-plugins/jQuery.dotdotdot/src/jquery.dotdotdot.min.js"></script>
    <!-- Custom javaScript -->
    <script src="{$basePath}/js/common.js"></script>
    <script src="{$basePath}/js/front.js"></script>
    {block scripts}{/block}
</head>
<body>
<!-- #page -->
<div id="page">
    <!-- header section -->
    <div id="topping"></div>
    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" n:href="Homepage: subUrl => null">
                    <img src="{$basePath}/images/logo1.png" class="img-responsive"/>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav section-nav">
                    <li n:class="$presenter->getParameter('subUrl') == 'svetelna-reklama' ? active">
                        <a n:href="Homepage: subUrl => 'svetelna-reklama'">
                            Světelná reklama
                        </a>
                    </li>
                    <li n:class="$presenter->getParameter('subUrl') == 'led-osvetleni' ? active">
                        <a n:href="Homepage: subUrl => 'led-osvetleni'">
                            Led osvětení
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-left hidden-lg hidden-md hidden-sm">
                    <li role="separator" class="nav-divider"></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {block menuItems}
                        <li n:class="$presenter->isLinkCurrent('Homepage:*') ? active"><a n:href="Homepage:">Domů</a></li>
                        <li n:class="$presenter->isLinkCurrent('Services:*') ? active"><a n:href="Services:">Služby</a></li>
                        <li n:class="$presenter->isLinkCurrent('Gallery:*') ? active"><a n:href="Gallery:">Galerie</a></li>
                        <li n:class="$presenter->isLinkCurrent('Contacts:*') ? active"><a n:href="Contacts:">Kontakt</a></li>
                    {/block}
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <!-- //end header section -->

    {include content}

    <!--footer-->
    <div class="footer">
        <!-- footer_bottom -->
        <div class="container">
            <div class="copyright">
                &copy; Copyright  2020. All Rights Reserved by SpaLand Onepage Template.
            </div>
        </div>
        <!-- //footer_bottom -->
    </div>
    <!--//footer-->
</div><!-- end #page -->
</body>
</html>