{block title}
Nástěnka
{/block}

{block breadcrumb}
<li class="active"><a n:href="Homepage:"><i class="fa fa-dashboard"></i> Home</a></li>
{/block}

{block content}
<div class="row">
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>{$counts['news']}</h3>

                <p>Novinky</p>
            </div>
            <div class="icon">
                <i class="fa fa-newspaper-o"></i>
            </div>
            <a n:href="News:" class="small-box-footer">
                Více informací <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
            <div class="inner">
                <h3>{$counts['service']}</h3>

                <p>Služby</p>
            </div>
            <div class="icon">
                <i class="fa fa-cogs"></i>
            </div>
            <a n:href="Services:" class="small-box-footer">
                Více informací <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>{$counts['photo']}</h3>

                <p>Fotografie</p>
            </div>
            <div class="icon">
                <i class="fa fa-photo"></i>
            </div>
            <a n:href="Gallery:" class="small-box-footer">
                Více informací <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
            <div class="inner">
                <h3>{$counts['contact']}</h3>

                <p>Kontakty</p>
            </div>
            <div class="icon">
                <i class="fa fa-users"></i>
            </div>
            <a n:href="Contacts:" class="small-box-footer">
                Více informací <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <!-- ./col -->
</div>
{/block}
