<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Administrace | blazek-design.cz</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="{$basePath}/bower-plugins/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{$basePath}/bower-plugins/fontawesome/css/font-awesome.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="{$basePath}/bower-plugins/admin-lte/dist/css/AdminLTE.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="{$basePath}/bower-plugins/admin-lte/plugins/iCheck/square/blue.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="{$basePath}/bower-plugins/admin-lte/dist/css/skins/_all-skins.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery 2.1.4 -->
    <script src="{$basePath}/bower-plugins/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="{$basePath}/bower-plugins/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Nette forms -->
    <script src="{$basePath}/bower-plugins/nette-live-validation/src/netteForms.js"></script>
    <script src="{$basePath}/bower-plugins/nette-live-validation/src/live-form-validation.js"></script>
    <!-- iCheck -->
    <script src="{$basePath}/bower-plugins/admin-lte/plugins/iCheck/icheck.min.js"></script>
    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        });
    </script>
</head>
<body class="hold-transition skin-red login-page">
<div class="login-box">
    <div class="login-logo">
        <b>Administrace</b>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">

        <div n:foreach="$flashes as $flash" class="callout callout-{$flash->type}">
            {$flash->message}
        </div>

        {include content}

    </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
</body>
</html>
