<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Administrace | blazek-design.cz</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="{$basePath}/bower-plugins/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{$basePath}/bower-plugins/fontawesome/css/font-awesome.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="{$basePath}/bower-plugins/admin-lte/plugins/iCheck/square/blue.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="{$basePath}/bower-plugins/admin-lte/plugins/select2/select2.min.css">
    <!-- Eonasdan bootstrap datetimepicker -->
    <link rel="stylesheet" href="{$basePath}/bower-plugins/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css">
    <!-- Bootstrap daterangepicker -->
    <link rel="stylesheet" href="{$basePath}/bower-plugins/bootstrap-daterangepicker/daterangepicker.css">
    <!-- Grido -->
    <link rel="stylesheet" href="{$basePath}/bower-plugins/grido/client-side/css/grido.css">
    <!-- FancyBox -->
    <link rel="stylesheet" href="{$basePath}/bower-plugins/fancybox/source/jquery.fancybox.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="{$basePath}/bower-plugins/admin-lte/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="{$basePath}/bower-plugins/admin-lte/dist/css/skins/_all-skins.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery 2.1.4 -->
    <script src="{$basePath}/bower-plugins/jquery/dist/jquery.min.js"></script>
    <!-- Nette ajax -->
    <script src="{$basePath}/bower-plugins/nette.ajax.js/nette.ajax.js"></script>
    <!-- Nette forms & Nette live form validation -->
    <script src="{$basePath}/bower-plugins/nette-live-form-validation/live-form-validation.js"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="{$basePath}/bower-plugins/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- iCheck -->
    <script src="{$basePath}/bower-plugins/admin-lte/plugins/iCheck/icheck.min.js"></script>
    <!-- Select2 -->
    <script src="{$basePath}/bower-plugins/admin-lte/plugins/select2/select2.min.js"></script>
    <!-- AdminLTE App -->
    <script src="{$basePath}/bower-plugins/admin-lte/dist/js/app.min.js"></script>
    <!-- Moment -->
    <script src="{$basePath}/bower-plugins/moment/min/moment.min.js"></script>
    <script src="{$basePath}/bower-plugins/moment/locale/cs.js"></script>
    <!-- Eonasdan bootstrap datetimepicker -->
    <script src="{$basePath}/bower-plugins/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <!-- Bootstrap daterangepicker -->
    <script src="{$basePath}/bower-plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- History -->
    <script src="{$basePath}/bower-plugins/history.js/scripts/bundled/html4+html5/jquery.history.js"></script>
    <!-- Typeahead -->
    <script src="{$basePath}/bower-plugins/typeahead.js/dist/typeahead.bundle.min.js"></script>
    <!-- Grido -->
    <script src="{$basePath}/bower-plugins/grido/client-side/js/grido.js"></script>
    <script src="{$basePath}/bower-plugins/grido/client-side/js/plugins/grido.datepicker.js"></script>
    <script src="{$basePath}/bower-plugins/grido/client-side/js/plugins/grido.daterangepicker.js"></script>
    <script src="{$basePath}/bower-plugins/grido/client-side/js/plugins/grido.history.js"></script>
    <script src="{$basePath}/bower-plugins/grido/client-side/js/plugins/grido.nette.ajax.js"></script>
    <script src="{$basePath}/bower-plugins/grido/client-side/js/plugins/grido.typeahead.js"></script>
    <!-- FancyBox -->
    <script src="{$basePath}/bower-plugins/fancybox/source/jquery.fancybox.js"></script>
    <!-- Custom javaScript -->
    <script src="{$basePath}/js/common.js"></script>
    <script src="{$basePath}/js/admin.js"></script>
</head>
<body class="hold-transition skin-red sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

    <header class="main-header">
        <!-- Logo -->
        <a n:href="Homepage:" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>A</b></span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>Administrace</b></span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown notifications-menu accounts-menu">
                        {capture $brandMenu}
                        <li n:foreach="$brands as $brand">
                            <a n:href="this, idBrand => $brand->getId()">{$brand->getName()}</a>
                            {if $presenter->idBrand == $brand->getId()}
                                {var $selectedBrand = $brand->getName()}
                            {/if}
                        </li>
                        {/capture}
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                            <i class="fa fa-refresh"></i>
                            &nbsp;&nbsp;
                            {$selectedBrand}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <ul class="menu">
                                    {$brandMenu|noescape}
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-user"></i>
                            <span class="hidden-xs">{$user->identity->data['name']}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a n:href="Profile:" class="btn btn-default btn-flat">Profil</a>
                                </div>
                                <div class="pull-right">
                                    <a n:href="Sign:out" class="btn btn-default btn-flat">Odhlásit</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- =============================================== -->

    <!-- Left side column. contains the sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
                <li n:class="$presenter->isLinkCurrent('Homepage:*') ? active">
                    <a n:href="Homepage:"><i class="fa fa-dashboard"></i> <span>Nástěnka</span></a>
                </li>
                <li class="header">Stránky</li>
                <li n:class="$presenter->isLinkCurrent('News:*') ? active, treeview">
                    <a href="#"><i class="fa fa-newspaper-o"></i> <span>Novinky</span> <i class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li><a n:href="News:"><i class="fa fa-list"></i> <span>Výpis novinek</span></a></li>
                        <li><a n:href="News:add"><i class="fa fa-plus"></i> <span>Přidat novinku</span></a></li>
                        <li><a n:href="News:nastaveni"><i class="fa fa-wrench"></i> <span>Nastavení stránky</span></a></li>
                    </ul>
                </li>
                <li n:class="$presenter->isLinkCurrent('Services:*') ? active, treeview">
                    <a href="#"><i class="fa fa-cogs"></i> <span>Služby</span> <i class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li><a n:href="Services:"><i class="fa fa-list"></i> <span>Výpis služeb</span></a></li>
                        <li><a n:href="Services:add"><i class="fa fa-plus"></i> <span>Přidat službu</span></a></li>
                        <li><a n:href="Services:nastaveni"><i class="fa fa-wrench"></i> <span>Nastavení stránky</span></a></li>
                    </ul>
                </li>
                <li n:class="$presenter->isLinkCurrent('Gallery:*') || $presenter->isLinkCurrent('CategoryGallery:*') ? active, treeview">
                    <a href="#"><i class="fa fa-photo"></i> <span>Galerie</span> <i class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li><a n:href="Gallery:"><i class="fa fa-list"></i> <span>Výpis fotografií</span></a></li>
                        <li><a n:href="Gallery:add"><i class="fa fa-plus"></i> <span>Přidat fotografii</span></a></li>
                        <li><a n:href="CategoryGallery:"><i class="fa fa-list"></i> <span>Výpis kategorií</span></a></li>
                        <li><a n:href="CategoryGallery:add"><i class="fa fa-plus"></i> <span>Přidat kategorii</span></a></li>
                        <li><a n:href="Gallery:nastaveni"><i class="fa fa-wrench"></i> <span>Nastavení stránky</span></a></li>
                    </ul>
                </li>
                <li n:class="$presenter->isLinkCurrent('Contacts:*') ? active, treeview">
                    <a href="#"><i class="fa fa-phone"></i> <span>Kontakty</span> <i class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li><a n:href="Contacts:"><i class="fa fa-list"></i> <span>Výpis kontaktů</span></a></li>
                        <li><a n:href="Contacts:add"><i class="fa fa-plus"></i> <span>Přidat kontakt</span></a></li>
                        <li><a n:href="Contacts:nastaveni"><i class="fa fa-wrench"></i> <span>Nastavení stránky</span></a></li>
                    </ul>
                </li>
                <li class="header">Nastavení sekce</li>
                <li n:class="$presenter->isLinkCurrent('Slideshow:*') ? active, treeview">
                    <a href="#"><i class="fa fa-television"></i> <span>Slideshow</span> <i class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li><a n:href="Slideshow:"><i class="fa fa-list"></i> <span>Výpis fotografií</span></a></li>
                        <li><a n:href="Slideshow:add"><i class="fa fa-plus"></i> <span>Přidat fotografii</span></a></li>
                    </ul>
                </li>
                <li n:class="$presenter->isLinkCurrent('Signpost:*') ? active, treeview">
                    <a n:href="Signpost:"><i class="fa fa-arrows"></i> <span>Rozcestník</span></a>
                </li>
                <li class="header">Obecná nastavení</li>
                <li n:class="$presenter->isLinkCurrent('Users:*') ? active, treeview">
                    <a href="#"><i class="fa fa-users"></i> <span>Uživatelé</span> <i class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li><a n:href="Users:"><i class="fa fa-list"></i> <span>Výpis uživatelů</span></a></li>
                        <li><a n:href="Users:add"><i class="fa fa-plus"></i> <span>Přidat uživatele</span></a></li>
                    </ul>
                </li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- =============================================== -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                {include title}
            </h1>
            <ol class="breadcrumb">
                {include breadcrumb}
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <div n:foreach="$flashes as $flash" class="callout callout-{$flash->type}">
                {$flash->message}
            </div>

            {include content}

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <footer class="main-footer">
        <strong>Copyright &copy; {date('Y')} <a href="http://www.dspilka.cz" target="_blank">David Spilka</a>.</strong> All rights
        reserved.
    </footer>
</div>
<!-- ./wrapper -->
</body>
</html>