{block title}
Galerie
{/block}

{block breadcrumb}
<li><a n:href="Homepage:"><i class="fa fa-dashboard"></i> Domů</a></li>
<li class="active"><a n:href="Gallery:">Galerie</a></li>
{/block}

{block content}
<div class="row">
    <div class="col-lg-12">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Výpis fotografií</h3>
            </div>
            <div class="box-body table-responsive">
                {control photosDataGrid}
            </div>
        </div>
    </div>
</div>
{/block}
