{block title}
Profil
{/block}

{block breadcrumb}
<li><a n:href="Homepage:"><i class="fa fa-dashboard"></i> Domů</a></li>
<li class="active"><a n:href="Profil">Profil</a></li>
{/block}

{block content}
<div class="row">
    <div class="col-md-6">
        {include '../components/form.latte', form => addEditUserForm, boxTitle => 'Změna údajů'}
    </div>
    <div class="col-md-6">
        {include '../components/form.latte', form => changeUserPasswordForm, boxTitle => 'Změna hesla'}
    </div>
</div>
{/block}
