{block title}
Kontakt
{/block}

{block content}
<section class="page_section">
    <header class="head_section center_section">
        <div class="container">
            <h2>{include title}</h2>
            <div class="separator"></div>
            <p n:ifcontent>{$contactsSettings['text']|nl2br|noescape}</p>
        </div><!-- end .container -->
    </header>
    <section class="page_section" id="contact">
        <div class="container block-wrap">
            <div class="row">
                <div class="col-md-3">
                    <div class="info-block bg_black block">
                        <header class="head_section">
                            <h2>
                                Kontaktní
                                {if count($contacts) > 1}osoby{else}osoba{/if}
                            </h2>
                            <div class="separator left"></div>
                        </header>
                        <div class="row">
                            <address>
                                <p n:foreach="$contacts as $contact" class="col-md-12 col-sm-6">
                                    <strong>{$contact['name']}</strong><br>
                                    <a href="mailto: {$contact['email']}">{$contact['email']}</a><br>
                                    <abbr title="Telefon">Tel:</abbr> {$contact['telephone']}
                                </p>
                            </address>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="contact_form block">
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div id="note"></div>
                            </div>
                        </div>
                        <div n:snippet="contact-form">
                            {ifset $formSended}
                                <div n:ifset="$successMessages" id="successAlert" class="alert alert-success">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                    <p n:foreach="$successMessages as $msg">
                                        {$msg}
                                    </p>
                                </div>

                                <div n:ifset="$dangerMessages" id="dangerAlert" class="alert alert-danger">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                    <p n:foreach="$dangerMessages as $msg">
                                        {$msg}
                                    </p>
                                    <p>
                                        <button type="button" class="btn btn-danger" data-dismiss="alert" aria-label="Close">
                                            Zpět na formulář
                                        </button>
                                    </p>
                                </div>

                                <script type="text/javascript">
                                    $('#successAlert, #dangerAlert').on('closed.bs.alert', function () {
                                        $("#" + {$control['contactForm']->getElementPrototype()->id}).removeClass('hidden');
                                    });
                                </script>
                            {/ifset}
                            <form n:name="contactForm" n:class="isset($formSended) ? hidden">
                                <div class="col-md-6 col-sm-6 form-group">
                                    {input name, class => 'form-control inp'}
                                </div>
                                <div class="col-md-6 col-sm-6 form-group">
                                    {input email, class => 'form-control inp'}
                                </div>
                                <div class="clear"></div>
                                <div class="col-md-6 col-sm-6 form-group">
                                    {input telephone, class => 'form-control inp'}
                                </div>
                                <div class="col-md-6 col-sm-6 form-group">
                                    {input subject, class => 'form-control inp'}
                                </div>
                                <div class="clear"></div>
                                <div class="col-md-12 form-group">
                                    {input message, class => 'form-control inp', rows => '4'}
                                </div>
                                <div class="col-md-12">
                                    {input submit, class => 'shortcode_button'}
                                </div>
                                {*<script type="text/javascript">*}
                                    {*LiveForm.addError = function(el, message) {*}
                                        {*$(el).popover({*}
                                            {*content: message,*}
                                            {*container: 'body',*}
                                            {*placement: 'top'*}
                                        {*}).popover('show');*}
                                    {*};*}
                                    {*LiveForm.removeError = function(el, message) {*}
                                        {*$(el).popover('hide');*}
                                    {*};*}
                                {*</script>*}
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info-block bg_black block">
                        <div class="row">
                            <div class="col-md-12 col-sm-6">
                                <header class="head_section">
                                    <h2>Kontaktní adresa</h2>
                                    <div class="separator left"></div>
                                </header>
                                <address>
                                    <p>
                                        <strong n:ifset="$contactAddress['companyName']">{$contactAddress['companyName']}</strong><br>
                                        <span n:ifset="$contactAddress['street']">
                                    {$contactAddress['street']}
                                </span><br>
                                        <span n:if="isset($contactAddress['zip']) || isset($contactAddress['city'])">
                                    {ifset $contactAddress['zip']}{$contactAddress['zip']}{/ifset}
                                            {ifset $contactAddress['city']}{$contactAddress['city']}{/ifset}
                                </span>
                                    </p>
                                </address>
                            </div>

                            <div class="col-md-12 col-sm-6">
                                <header class="head_section">
                                    <h2>Fakturační adresa</h2>
                                    <div class="separator left"></div>
                                </header>
                                <address>
                                    <p>
                                        <strong n:ifset="$billingAddress['companyName']">{$billingAddress['companyName']}</strong><br>
                                        <span n:ifset="$billingAddress['street']">
                                            {$billingAddress['street']}
                                        </span><br>
                                        <span n:if="isset($billingAddress['zip']) || isset($billingAddress['city'])">
                                            {ifset $billingAddress['zip']}{$billingAddress['zip']}{/ifset}
                                                    {ifset $billingAddress['city']}{$billingAddress['city']}{/ifset}
                                        </span>
                                    </p>
                                    <p n:if="isset($billingAddress['ic']) || isset($billingAddress['dic'])">
                                        {ifset $billingAddress['ic']}IČ: {$billingAddress['ic']}{/ifset}
                                        {if isset($billingAddress['ic']) || isset($billingAddress['dic'])}<br>{/if}
                                        {ifset $billingAddress['dic']}DIČ: {$billingAddress['dic']}{/ifset}
                                    </p>
                                </address>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end .container -->
    </section>
</section>
{/block}
