{block title}
Kontakty
{/block}

{block breadcrumb}
<li><a n:href="Homepage:"><i class="fa fa-dashboard"></i> Domů</a></li>
<li><a n:href="Contacts:">Kontakty</a></li>
<li class="active"><a n:href="Contacts:edit">Editovat kontakt</a></li>
{/block}

{block content}
<div class="row">
    <div class="col-md-6">
        {include '../components/form.latte', form => addEditContactForm, boxTitle => 'Editovat kontakt'}
    </div>
</div>
{/block}
