{block title}
Služby
{/block}

{block breadcrumb}
<li><a n:href="Homepage:"><i class="fa fa-dashboard"></i> Domů</a></li>
<li><a n:href="Services:">Služby</a></li>
<li class="active"><a n:href="Services:add">Přidat službu</a></li>
{/block}

{block content}
<div class="row">
    <div class="col-md-6">
        {include '../components/form.latte', form => addEditServiceForm, boxTitle => 'Přidat službu'}
    </div>
</div>
{/block}
