{block title}
Služby
{/block}

{block breadcrumb}
<li><a n:href="Homepage:"><i class="fa fa-dashboard"></i> Domů</a></li>
<li class="active"><a n:href="Services:">Služby</a></li>
{/block}

{block content}
<div class="row">
    <div class="col-lg-12">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Výpis služeb</h3>
            </div>
            <div class="box-body table-responsive">
                {control servicesDataGrid}
            </div>
        </div>
    </div>
</div>
{/block}
