{block title}
Služby
{/block}

{block content}
<section class="page_section">
    <header class="head_section center_section">
        <div class="container">
            <h2>{include title}</h2>
            <div class="separator"></div>
            <p n:ifcontent>{$servicesSettings['text']|nl2br|noescape}</p>
        </div><!-- end .container -->
    </header>
    <section class="page_section">
        <!-- section content -->
        <div class="container">
            <div class="row services-list">
                <div n:foreach="$services as $service" class="col-sm-4">
                    <div class="icon-banner no-effect bg_black">
                        <div class="icon">
                            <img alt="{$service['name']}" src="{$baseUri}/images/sluzby/{$service['image']}">
                        </div>
                        <h3>{$service['name']}</h3>
                        <div class="separator"></div>
                        <p class="service-description">
                            {$service['text']|nl2br|noescape}<a class="more-link hidden" href="#service-{$service['id']}" data-toggle="modal">...</a>
                        </p>
                    </div>

                    <div class="modal fade" id="service-{$service['id']}" tabindex="-1" role="dialog" aria-labelledby="service-{$service['id']}-label">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="service-{$service['id']}-label">{$service['name']}</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-5 col-sm-4">
                                            <img src="{$baseUri}/images/sluzby/{$service['image']}" class="img-responsive" alt="{$service['name']}">
                                        </div>
                                        <div class="col-md-7 col-sm-8">
                                            <p>{$service['text']|nl2br|noescape}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <!-- //section content -->
    </section>
</section>
{/block}
