

/* Responsive changes */
@media (max-width: 1470px) {
    .full_slider_caption .container {
        width: 970px;
    }
}
@media (max-width: 1200px) {
    .full_slider_caption .container {
        width: 750px;
    }
}
@media (max-width: 991px) {
    .price-item {
        margin-top:0;
        margin-bottom:40px;
    }
    .contact_form {
        margin: 0 0 30px;
    }
    .full_slider_caption .container {
        width: 550px;
    }
}
@media (max-width: 767px) {
    .full_slider_caption {
        font-size: 22px;
        font-weight: 600;
        line-height: 22px;
    }
    .full_slider_caption .title {
        font-size: 54px;
        font-weight: 700;
        line-height: 58px;
    }


    /* Text overlay video header bg */
    div#overlay {
        position: absolute;
        z-index: 1;
        text-align: center;
        font-size: 18px;
        color: #FFF;
        margin-top: 33%;
        margin-left: 10%;
    }

    div#overlay-under {
        position: absolute;
        z-index: 1;
        text-align: center;
        font-size: 13px;
        color: #FFF;
        margin-top: 37%;
        margin-left: 10%;
    }
    /* end Text overlay video header bg */


    body {
        padding-right: 0;
        padding-left: 0;
    }
    .about_block {
        display: block;
    }
    .about_block .col_img,
    .about_block .col_cont{
        width: 100%;
        float:none;
        position:relative;
    }
    .pricing_block {
        padding: 40px 0 30px;
    }
    .contact_form {
        margin:0 -15px 30px;
        padding:38px 15px 40px;
    }
    .contact_form .inp {
        width:100%;
    }
    .flex-direction-nav .flex-prev {
        left: 15px;
    }
    .flex-direction-nav .flex-next {
        right: 15px;
    }
}
@media (max-width: 550px) {
    .full_slider_caption {
        font-size: 18px;
        line-height: 18px;
    }
    .full_slider_caption .title {
        font-size: 36px;
        line-height: 36px;
    }
}


@media (max-width: 490px) {
    .full_slider_caption {
        display:none;
    }
}


/***mobile menu***/
@media only screen and (max-width: 767px) {
    .navbar-default .navbar-nav {
        margin-right: 0px;
    }

    .navbar-default .navbar-nav>li {
        margin: 0px 15px;
    }
}

@media (min-width: 768px) {
    .navbar-default .section-nav {
        margin: 10px 0;
        height: 60px;
        padding-left: 10px;
        border-left: 1px solid #ddd;
    }

    .navbar-default .section-nav>li {
        float: none;
        margin: 0;
    }

    .navbar-default .section-nav>li>a {
        font-size: 11px;
        line-height: 20px;
    }
}

@media (min-width: 992px) {
    #news .left-side .control-block, #news .right-side .item-service {
        height: 500px;
        overflow: hidden;
    }

    #services .left-side .control-block, #services .right-side .item-service {
        height: 520px;
        overflow: hidden;
    }

    #contact .block {
        min-height: 385px;
    }
}

@media (min-width: 550px) and (max-width: 991px) {
    #news .right-side .item-service {
        height: 600px;
        overflow: hidden;
    }

    #services .right-side .item-service {
        height: 620px;
        overflow: hidden;
    }
}

@media (max-width: 767px) {
    .portfolio-list .item a img {
        margin: 0 auto;
    }

    .img-news {
        margin: 0 auto 15px;
    }

    #carousel-box-news {
        text-align: center;
    }

    #carousel-box-news .separator.left:before {
        left: auto;
        margin: 0 0 0 -40px;
    }

}