img {
    border:none 0;
    outline:none;
}
select,
input,
button,
textarea {
    outline:none !important;
    margin:0px;
}
input,
textarea {
    resize:none;
    -webkit-appearance: none;
    border-radius:0;
    -webkit-border-radius:0;
}
.clear {
    clear:both;
    height:0;
    font-size:0;
}
ul {
    padding:0;
    margin:0;
}
li {
    padding:0;
    margin:0;
    list-style:none;
}
.fleft {float:left;
}
.fright {float:right;
}
.color {color:#da291c;
}
h1,h2,h3,h4,h5.h6 {margin-top:0px;
}
.text-center {text-align:center;
}
.modal-content {
    border-radius: 0px;
}


/*********** MAIN **************/
body {
    color: #333;
    background: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height:21px;
    overflow-x:hidden !important;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: -30;
    padding-left: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: -30;
    margin-left: 0;
}
html { font-size: 100%;
}
::selection{
    background: #da291c;
    color: #fff;
}
::-moz-selection {
    background: #da291c;
    color: #fff;
}
a,
a:focus {
    color: #262626;
    text-decoration:none !important;
    outline:none;
}
a:hover { color: #da291c;
}
p {
    margin: 0 0 10px;
    padding: 0;
    color:#666;
}
strong { font-weight: 700;
}
.center { text-align: center;
}
.colored { color: #da291c;
}
.bg_colored { background-color: #da291c;
}
.justify {text-align: justify;
}
iframe {border:0;
}
img {max-width:100%;
}
.cover {
    background-position:50% 0;
    background-attachment:fixed;
    background-size:cover;
    background-repeat:no-repeat;
    color:#fff;
}
.bg_gray {background-color:#f8f8f8;}
.bg_black {background-color:#2d2e2e;}

#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    height:100%;
    background-color:#fff; /* change if the mask should have another color then white */
    z-index:9900; /* makes sure it stays on top */
}
#status {
    width:70px;
    height:70px;
    position:absolute;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    background-image:url(../images/status.gif); /* path to your loading animation */
    background-repeat:no-repeat;
    background-position:center center;
    margin:-35px 0 0 -35px; /* is width and height divided by two */
}

.parallax {
    background-position: 50% 0px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
}
.mb30 {margin-bottom:30px;}

/*---------------------------------------------------------------
                    One page HTML
----------------------------------------------------------------*/

/**** HEADER ****/
.navbar {
    opacity: 1;
    border-bottom:#ddd solid 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    background:#fff;
    z-index:1000;
    width:100% !important;
}
/**/

/*Menu*/
.navbar-brand {
    margin: 15px !important;
    padding: 0;
}

.navbar-brand img {
    max-height: 50px;
}

.navbar-default .navbar-nav {
    margin-right: -25px;
}

.navbar-default .navbar-nav>li {
    margin: 25px 20px 24px;
}

.navbar-default .navbar-nav>li>a {
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    padding: 5px;
    text-decoration: none !important;
    outline: none;
    background: none;
    color: #262626;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover{
    color: #da291c;
    background: transparent;
}
/**/

/*-----------------------------------------------------------------------------------*/
/*    Slider home-page 1
/*-----------------------------------------------------------------------------------*/

.full_slider {
    background-position:center center;
    background-repeat:no-repeat;
    margin-bottom: -40px;
}
.full_slider_caption {
    position:absolute;
    bottom:40%;
    left:0;
    right:0;
    margin: 0;
    text-shadow: none;
    opacity: 1;
    float:none;
    color:#fff;
    font-size:26px;
    line-height:25px;
    font-weight:700;
    text-transform:uppercase;
}
.full_slider_caption .title {
    font-size:74px;
    line-height:68px;
    font-weight:900;
}
.full_slider_caption .cont {
    border-left-width: 3px;
    border-left-style: solid;
    border-left-color: #fff;
    padding-top: 5px;
    padding-right: 0;
    padding-bottom: 5px;
    padding-left: 16px;
    height: 150px;
}


#dot-matrix {
    background: url(../images/dark-dot.png);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: -1
}

.slideshow-overlay {
    display: block;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    overflow: auto;
    height: 100%;
    width: 100%;
    background: url(../images/dark-matter.png) left top repeat
}

/**/

/************ HOME SECTION ***********/
#home{
    position:relative;
    margin-bottom:53px;
}
.separator {
    position:relative;
    margin:17px 0 13px;
    height:1px;
}
.separator:before {
    content:'';
    position:absolute;
    top:0;
    left:50%;
    margin:0 0 0 -40px;
    width:81px;
    border-bottom:#666 solid 1px;
}
.separator.left:before {
    left:0;
    margin:0;
}
.page_section {
    opacity: 1;
    padding-top: 20px;
    padding-right: 0;
    padding-bottom: 29px;
    padding-left: 0;
}
.shortcode_button {
    display:inline-block;
    margin:0;
    text-decoration:none;
    font-weight:normal;
    font-family: 'Open Sans', sans-serif;
    color:#fff !important;
    padding:7px 19px;
    vertical-align:top;
    text-align:center;
    text-transform:uppercase;
    background:#da291c;
    border:none;
    cursor:pointer;
    font-size:14px;
}
.shortcode_button:hover {
    background:#2d2e2e;
}
.shortcode_button.btn-lg {
    font-size:18px;
    padding:12px 19px 13px;
}
.page_section header div.container {
    z-index:900;
    position: relative;
}
h1,h2 {
    font-size: 30px;
    line-height:32px;
}
h3,h4 {
    font-size:18px;
    font-weight:600;
    text-transform:uppercase;
}
h4 {
    text-transform:none;
}
.head_section h1,
.head_section h2{
    font-weight:600;
    text-transform:uppercase;
    position:relative;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 1px;
    margin-left: 0;
    padding-top: 30px;
}
.head_section span {
    display:block;
    font-size:18px;
    text-transform:uppercase;
}
.head_section p {
    text-align: center;
    padding:0 0 10px;
    margin-bottom:0;
    color:#262626;
}
.head_section p:last-child {
    padding-bottom:0px
}
.head_section.center_section {
    text-align:center;
    padding-bottom:25px;
}
.head_section.center_section  .separator {
    margin:26px 0 25px;
}


/************** Video background *************/

header .background img, header .background video {
    height: auto;
    left: 0;
    min-height:100%;
    min-width: 100%;
    position: absolute;
    top: 0;
    width: auto;
}


div#background{
    position: relative;
}
div#overlay {
    position: absolute;
    z-index: 1;
    text-align: center;
    font-size: 45px;
    color: #FFF;
    margin-top: 25%;
    margin-left: 15%;
}
div#overlay-under {
    position: absolute;
    z-index: 1;
    text-align: center;
    font-size: 25px;
    color: #FFF;
    margin-top: 28%;
    margin-left: 15%;
}


/************* START SECTION *************/
.icon-banner {
    text-align: center;
    padding:20px 40px 25px;
    margin-bottom:30px;
    /*background:#f8f8f8;*/
}
.icon-banner > a {display:inline-block;
}
.icon-banner .icon, .icon-banner.no-effect:hover .icon {
    display: inline-block;
    margin: 20px auto 27px;
    position: relative;
}
.icon-banner .icon img {
    display: block;
    height: auto;
    opacity: 1;
    width: 100%;
}
.icon-banner .title_cont {
    text-transform:uppercase;
    font-weight:700;
    margin-bottom:10px;
}
.icon-banner h3 {margin:0;
}
.icon-banner p.service-description {
    height: 63px;
    overflow: hidden;
}
.icon-banner:hover .icon {
    margin: 10px auto 17px;
}
.icon-banner.no-effect:hover .separator {
    margin: 17px 0 13px;
}
.icon-banner:hover .separator {
    margin:27px 0 23px;
}
.icon-banner .icon,
.icon-banner .separator {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.services-list .icon-banner {
    height: 477px;
}
.carousel .icon-banner {
    padding:20px 15% 25px;
    margin-bottom:0px;
}


/************** ABOUT SECTION ***********/
.about_block .img-wrap img {
    display: block;
    margin:0 auto;
}
.about_block {
    position:relative;
}
.about_block .col_img {
    background:url(../images/img_about.jpg) no-repeat center center;
    background-size:cover;
    position:absolute;
    top:0px;
    bottom:0;
    right:0px;
    min-height:250px;
}
.about_block .col_cont {
    float: left;
}
.about_block .col_img,
.about_block .col_cont {
    width: 50%;
}
.about_block .wrap_cont {
    padding:35px 30px 40px 40px;
}
.about_block .wrap_cont header {
    padding:0px;
}
.about_block .shortcode_button {
    margin-top:15px;
}

.head_section .icon-write {
    color:rgba(255,255,255, 0.1);
    position:absolute;
    bottom:15px;
    left:90px;
    display:block;
    font-size:400px;
    background-repeat: no-repeat;
}


/*********** SERVICES SECTION **********/
#services {}

.item-service {
    margin-bottom:30px;
    background:#f8f8f8;
    text-align:center;
}
.item-service .cont {
    padding:35px 20px 40px;
}
.item-service .cont .shortcode_button {
    margin-top:15px;
}
.item-service h4 {
    margin-bottom:0px;
}
.carousel-box .control-block,
.info-block {
    padding:35px 30px 98px 40px;
    margin-bottom:27px;
    position:relative;
}
.info-block {
    padding-bottom:40px;
}
.bg_black {color:#fff;}
.bg_black p {color:#868686;}
.bg_black a {color:#868686;}
.bg_black a:hover {color:#fff;}

.bg_colored p {color:#262626;}
.bg_colored a:hover {color:#eee;}

.customNavigation {
    font-size:0;
}
.carousel-box .control-block .customNavigation {
    position:absolute;
    bottom:37px;
    left:40px;
}
.btn-prev,
.btn-next {
    display:inline-block;
    margin:0 10px 0 0;
    width:40px;
    height:35px;
    border:#262626 solid 2px;
    color:#262626 !important;
    text-align:center;
    font-size:29px;
    line-height:28px;
    cursor:pointer;
    -webkit-transform: translateZ(0) !important;
    opacity:0.6;
}
.btn-prev {
    padding-right:2px;
}
.btn-next {
    padding-left:2px;
}
.btn-prev:hover,
.btn-next:hover {
    opacity:1;
}
.bg_black .btn-prev,
.bg_black .btn-next {
    color:#494949 !important;
    border-color:#494949;
    opacity:1;
}
.bg_black .btn-prev:hover,
.bg_black .btn-next:hover {
    color:#da291c !important;
    border-color:#da291c;
}
/***/

/*team*/
.item-team,
.item-full {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0px;
    margin-left: 0;
}
.item-team .img,
.item-full .img {
    background:#f8f8f8;
}
.item-team .cont,
.item-full .cont {
    background:#f8f8f8;
    padding:35px 35px 40px 40px;
}
.item-team .cont h4,
.item-full .cont h4 {
    text-transform:uppercase;
    margin:0px;
}
.item-team shortcode_button,
.item-full .shortcode_button {
    margin-top:14px;
}
.social {
    font-size:0;
    line-height:0;
    padding:2px 0 0;
}
.social a {
    display: inline-block;
    margin:8px 8px 0 0;
    font-family:"Socialico";
    color:#cdcdcd;
    font-size:40px;
    line-height:28px;
}
.soc-f:hover {color:#063587 !important;}
.soc-t:hover {color:#00aae9 !important;}
.soc-g:hover {color:#be3027 !important;}
.soc-n:hover {color:#e54e93 !important;}
.soc-v:hover {color:#00aae9 !important;}
.soc-r:hover {color:#ff6900 !important;}
.soc-i:hover {color:#0053a5 !important;}
/***/


/********** PORTFOLIO SECTION *********/
/**** Isotope Filtering ****/
.isotope-item {
    z-index: 2;
}
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

/**** Isotope CSS3 ****/
.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property:    -moz-transform, opacity;
    transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    transition-duration: 0s;
}
/* End: Recommended Isotope styles */

/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}

#portfolio {
    margin-top:-37px;
    padding-top:30px;
}
.portfolio-block {
    margin-bottom:30px;
}
.portfolio-menu {
    padding:22px 0 13px;
    text-align: center;
    font-size:0;
    line-height:0;
}
.portfolio-menu li {
    display: inline-block;
    margin:0 18px 10px;
    font-size: 14px;
    line-height:21px;
}
.portfolio-menu li.active a,
.portfolio-menu li a:hover {
    color: #da291c !important;
}
.portfolio-menu li a {
    display: block;
    padding: 2px;
    text-transform:uppercase;
    font-weight:600;
    cursor: pointer;
}

.portfolio-list .item {
    margin-bottom:30px;
    overflow:hidden;
}
.portfolio-list .item a {
    position: relative;
    display:block;
}
.portfolio-list .item a img {
    vertical-align:top;
    width: 100%;
}
.app-item {
    text-align: center;
}
.app-item .shortcode_button {
    width:100%;
}

.portfolio-list .item .caption {
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    height: 80px;
}
.portfolio-list .item a:hover .caption{
    background:rgba(255,255,255,0.8);
}
.portfolio-list .item a:hover .caption .info {
    opacity:1;
    visibility:visible;
}
.portfolio-list .item .caption .info {
    opacity:0;
    visibility:hidden;
    position:absolute;
    width:100%;
    padding:0 5%;
    left:0px;
    top:50%;
    transform:translateY(-50%);
    -webkit-transform:translateY(-50%);
    text-align:center;
    color:#262626;
}
.portfolio-list .item .caption h4 {
    font-size:18px;
    margin-bottom:0;
    position:relative;
    top:-25px;
    margin-top: 7px;
}
.portfolio-list .item .caption .separator {
    margin: 12px 0 8px;
}
.portfolio-list .item .caption p {
    padding:0;
    color:#262626;
    position:relative;
    top:30px;
    margin-bottom: 5px;
}
.portfolio-list .item .caption p.gallery-description {
    height: 21px;
    overflow: hidden;
}
.portfolio-list .item a:hover .caption .info h4,
.portfolio-list .item a:hover .caption .info p{
    top:0;
}
/***/



/********** PRICE TABLE SECTION *********/


.pricing_block {
    text-align:center;
    padding:53px 0 69px;
    margin-bottom:30px;
}
.pricing_block .head_section {
    padding-bottom:55px;
}
.price-item.optimal {
    margin-top:0;
}
.price-item {
    display:inline-block;
    vertical-align:top;
    background:#fff;
    border:#ddd solid 1px;
    width:270px;
    padding:9px 9px 2px;
    margin:22px 12px 8px 15px;
    text-align:center;
}
.price-item .type {
    background:#2d2e2e;
    color:#fff;
    font-size:24px;
    line-height:32px;
    font-weight:600;
    text-transform:uppercase;
    margin:-10px -10px 0;
    padding:10px 10px 0;
}
.price-item .type span {
    display:block;
    padding:14px 5px 17px;
    border:#fff solid 1px;
    border-bottom:none;
}
.pricelist {
    color:#fff;
    padding:13px 10px 15px;
    margin:0 -10px -1px;
    background:#da291c;
    position:relative;
    z-index:5;
}
.pricelist span {
    font-size:24px;
    vertical-align:top;
}
.price-item .cont {
    border:#ddd solid 1px;
}
.price-item ul li {
    margin:0;
    padding:9px 0 12px;
}
.price-item ul li:nth-child(even) {
    background:#fafafa;
}
.price-item .shortcode_button {
    position:relative;
    bottom:-19px;
}


/********** SHOP SECTION *********/

.wid-rating {
    color: #598f91;
    margin-bottom: 20px;
    margin-top: 19px;
    padding-left: 13px;
}

.hot-wid-rating {
    color: #598f91;
    margin-bottom: 17px;
    margin-top: 20px;
    padding-left: 20px;
    overflow: hidden;
}
.product-single img {
    width: 100%;
}

#img:hover #overlay{
    opacity:1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}


.wid-rating h4 {
    font-family: "latosemibold";
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 7px;
}

.hot-wid-rating h4 {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
}


.wid-rating a {
    color: #333333;
}
.wid-rating a:hover, .hot-wid-rating a:hover, .footer-widget a:hover, .blog-text a:hover, .product-wid-rating h4 a:hover, .single-wid-product h2 a:hover {
    color: #598f91;
}

.hot-wid-rating a {
    color: #333333;
}

.product-wid-price {
    margin-bottom: 27px;
}
.latest-product-area .product-wid-price {
    margin-bottom: 0px;
}
.men_clothing_right .product-wid-price {
    margin-bottom: 0;
}
.cc_banner img {
    width: 100%;
}
.product-tab .product-wid-price {
    margin-bottom: 0;
}
.new span {
    background: #f89d18 none repeat scroll 0 0;
    border-radius: 18px;
    color: #fff;
    height: 40px;
    width: 40px;
    display: block;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}

.percent span {
    background: #444444 none repeat scroll 0 0;
    border-radius: 18px;
    color: #fff;
    height: 40px;
    width: 40px;
    display: block;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}
.tag {
    left: 35px;
    position: absolute;
    top: 40px;
}



/************ BLOG SECTION ************/

.blog-list {
    margin: 44px 0 0 0;
}
.blog-list .item {
    overflow: hidden;
    margin-bottom: 30px;
}
.blog-list .item .title {
    padding: 13px 0 18px 0;
    font-size: 16px;
    font-weight: bold;
}
.blog-list .item .title a {
    transition: all 400ms;
    -webkit-transition: all 400ms;
}
.blog-list .item .wrap {
    padding: 0 20px 0 20px;
    text-align: left;
    background: #fff;
}
.blog-list .item p {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 15px;
}
.blog-list .item i {
    padding-top: 18px;
    display: block;
}
.blog-list .item .video-wrap {
    height: 250px;
}
.blog-list .item iframe {
    width: 100%;
}
.blog-list .item .date {
    padding: 14px 0 12px 0;
    position: relative;
    font-size: 12px;
    overflow: hidden;
}
.blog-list .item .date:before {
    content: '';
    width: 30px;
    height: 1px;
    background: #b7b7b7;
    left: 0;
    top: 0;
    position: absolute;
}

.blog_block {}
/***/


/********** CONTACT SECTION *********/
input.shortcode_button,
button.shortcode_button {
    padding-top:0px;
    padding-bottom:0px;
    height: 35px;
    line-height:34px;
    margin:0;
}
.contact_form {
    background: #dcdcdc;
    margin:0 -30px 30px;
    padding:38px 40px 40px 30px;
}
.contact_form .inp {
    width:calc(100% + 10px);
}
.inp {
    background: #fff;
    margin:0 0 5px;
    padding: 7px 10px;
    width: 100%;
    height: auto;
    border:1px #c3c3c3 solid;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    outline:none;
    box-shadow:none;
    font-size:14px;
    color:#666;
    font-family: 'Open Sans', sans-serif;
    font-weight:normal;
}
form textarea {
    resize:none;
}
.contact_form .shortcode_button {
    margin-top:10px;
}


/* Map iframe
---------------------------------- */

.map-canvas iframe {
    width: 100%;
    height: 485px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    -webkit-filter: sepia(100%);
    -moz-filter:  sepia(100%);
    -ms-filter: sepia(100%);
    -o-filter: sepia(100%);
    filter: sepia(100%);
}





/* Placeholder */
.contact_form ::-webkit-input-placeholder { /* WebKit browsers */
    color:    #666;
}
.contact_form :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #666;
    opacity:  1;
}
.contact_form ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #666;
    opacity:  1;
}
.contact_form :-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #666;
}
/* WebKit browsers */
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
    color: transparent !important;
}
/* Mozilla Firefox 4 to 18 */
input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
    color: transparent !important;
}
/* Mozilla Firefox 19+ */
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
    color: transparent !important;
}
/* Internet Explorer 10+ */
input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
    color: transparent !important;
}
/***/

/** form valid style **/
.notification_error,
.notification_ok {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    margin: 0 0 30px;
    padding: 12px 10px 12px 35px;
    position:relative;
}
.notification_ok {
    border: 1px #038BD4 solid;
    color: #038BD4;
    background:#D0E3EA;
    margin-bottom:10px;
}
.notification_error {
    border: 1px #C93119 solid;
    color: #C93119;
    background:#FFCFCF;
}
.notification_error:before,
.notification_ok:before {
    content: '';
    width: 16px;
    height: 16px;
    position: absolute;
    left:11px;
    top:15px;
    background-position:0 0;
    background-repeat:no-repeat;
}
.notification_error:before {background-image:url(../images/error.png);
}
.notification_ok:before {background-image:url(../images/info.png);
}

.no_bottom {padding-bottom:0;
}
#note {
    max-width:770px;
    margin:0 auto;
}


/************* FOOTER ************/
.footer {
    padding: 24px 0;
    color:#868686;
    background:#2d2e2e;
}
.footer p {color:#868686;
}
.footer a {color:#da291c;
}
.footer a:hover {color:#e0f29b;
}
.footer_block {
    margin-bottom:25px;
}
.footer_block .title {
    position:relative;
    padding-bottom:18px;
    margin-bottom:24px;
    font-weight:600;
    min-width:81px;
}
.footer_block .title:before {
    content:'';
    position:absolute;
    bottom:0;
    left:0;
    width:81px;
    border-bottom:#464843 solid 1px;
}
.footer_block .title h3 {
    margin:0px;
    font-size:18px;
    color:#fff;
}
.footer_block ul {
    padding-top:4px;
}
.footer_block ul li {
    padding:6px 0 8px;
    border-bottom:#303130 solid 1px;
}
.footer_block ul li:last-child {
    border-bottom:none;
}
.footer .list-posts {
    padding-top:0;
    margin-top:-15px;
}
.footer .list-posts li {
    padding:15px 0 13px;
}
.footer .list-posts .date {
    display:inline-block;
    margin:0 10px 0 0;
    color:#989898;
}
.working_hours {
    margin-top:-17px;
}
.working_hours li {
    overflow:hidden;
    padding:13px 0 15px !important;
}
.working_hours i {
    font-size:16px;
    color:#da291c;
    position:relative;
    bottom:-1px;
    margin-right:12px;
}
.working_hours span {
    float:right;
    width:48%;
    text-align:center;
}
.working_hours span:first-child  {
    float:left;
    text-align:left;
}
.ns_block {
    margin:25px 0 20px;
    position:relative;
    overflow: hidden;
}
.ns_block .ns_input {
    margin:0;
    padding:8px 100px 8px 14px;
    border:none;
    background:#494a49;
    width:100%;
    color:#7f827d;
    font-size:14px;
    font-family: 'Open Sans', sans-serif;
    font-weight:normal;
}
.ns_block ::-webkit-input-placeholder {color:#7f827d;}
.ns_block :-moz-placeholder {color:#7f827d; opacity:  1;}
.ns_block ::-moz-placeholder { color:#7f827d; opacity:  1;}
.ns_block :-ms-input-placeholder {color:#7f827d;}

.ns_block .shortcode_button {
    position:absolute;
    right:0;
    top:0;
    z-index:2;
}
.ns_block .shortcode_button:hover {
    background:#bfd276;
}

.footer .social a {
    color:#494a49;
}


/**********************css3***************/
a {
    -webkit-transition: color 0.4s ease;
    -moz-transition: color 0.4s ease;
    transition: color 0.4s ease;
}

.btn-prev,
.btn-next,
.item-team .img img,
.portfolio-list .item .zoom,
.portfolio-list .item img,
.portfolio-list .item .caption,
.services_tab ul.tabs li:before,
.services_tab ul.tabs li,
.portfolio-menu li a,
.shortcode_button,
.icon-banner .icon img,
.icon-banner .icon:before,
.navbar,
.navbar-nav li a:before,
.navbar-nav ul li,
.navbar-nav ul li a {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.portfolio-list .item .caption p,
.portfolio-list .item .caption h4,
.item-team .social a {
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

/* CAROUSEL */
.carousel-caption p {
    color: #ffffff;
}

.carousel-control {
    width: 55px;
    height: 50px;
    border: #fff solid 2px;
    color: #fff !important;
    opacity: 0.5;
    display: block;
    top: 50%;
    margin: -25px 0 0 0;
    background: none !important;
}

.carousel-control .icon-next, .carousel-control .icon-prev {
    font-size: 32px;
    line-height: 42px;
    top: auto;
    right: auto;
    left: auto;
    width: auto;
    height: auto;
    position: relative;
    margin: 0 0 0 2px;
}

.carousel-control.right {
    right: 50px;
}

.carousel-control.left {
    left: 50px;
}

#contact .head_section h2 {
    padding-top: 0;
    font-size: 17px;
}

#contact address {
    margin-bottom: 0;
}

#contact address:last-child p:last-child {
    margin-bottom: 0;
}